.cancel-button:active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 0.7em 2em;
    right: 5px;
    background: transparent;
    border-radius: 13px;
    border: 1px solid#609BF4;
    font-family: "Poppins", system-ui;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: #609BF4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .cancel-button {
    padding: 0.7em 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    right: 5px;
    background: #609BF4;
    border-radius: 13px;
    border: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .cancel-button-disabled {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 0.7em 2em;
    right: 5px;
    background: #B3B3B3;
    border-radius: 13px;
    border: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }