.generate-button {
    position: absolute;
    right: 9.1rem;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 0.7em 2em;
    background: #609BF4;
    border-radius: 13px;
    border: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
     font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  .generate-button-disabled {
    position: absolute;
    right: 8.5rem;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    background: #B3B3B3;
    border-radius: 13px;
    border: none;
    font-family: "Poppins", system-ui;
    font-style: normal;
     font-weight: 350;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0.7em 2em;
    margin: 0 0.7em 0.3em 0;
  }